<h1>Seja Bem-Vindo</h1>
<p>O idioma usado nessa aplicação é : <strong><%= locale(I18n.locale)%> </strong></p>
<p><strong>Data:</strong> <%= I18n.l(Date.today)%></p>
<p> <%= I18n.t('abc')%> </p>>

<%= render "menu" %>

<p>
    Você está em ambiente de <strong><%= nome_ambiente %></strong>
</p>

<p>
<strong>Boa tarde, <%=@meu_nome%></strong>
</p>

<p>
    <strong>Curso atual:  <%=@nomeCurso%> </strong>
</p>