<h1>Seja Bem-Vindo</h1>
<p><strong>Data:</strong> <%=data_br(Date.today)%></p>

<%= render "menu" %>

<p>
    Você está em ambiente de <strong><%= nome_ambiente %></strong>
</p>

<p>
<strong>Boa tarde, <%=@meu_nome%></strong>
</p>

<p>
    <strong>Curso atual:  <%=@nomeCurso%> </strong>
</p>